<!DOCTYPE html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/style.css" />
	<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <title>Document</title>
</head>

<body>
  <section class="header-section">
    <header>
      <a href="/"><img src="../../media/logo.jpeg" class="logo"></a>
      <ul>
        <li><a href="index.ejs" class="active">Home</a></li>
        <li><a href="#">Wat is nieuw</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </header>
    <div class="sub-header">
      <h2>Maak kennis met <span>verhalen</span> in vele vormen.</h2>
      <h2 class="sub-header-foto">Word lid</h2>
    </div>
  </section>
  </head>